<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649238189664-o504nnqtp8jl94taeovdru7fcdtt2fln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649238189664-o504nnqtp8jl94taeovdru7fcdtt2fln</string>
	<key>API_KEY</key>
	<string>AIzaSyALEjbWvu2acjNBrwPk_HRpZ-ABo4MrB8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>649238189664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foodio.app</string>
	<key>PROJECT_ID</key>
	<string>recipe-social-network</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-social-network.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649238189664:ios:d305bda49a76918d3fd505</string>
	<key>DATABASE_URL</key>
	<string>https://recipe-social-network.firebaseio.com</string>
</dict>
</plist>